/****************\
    Users Page
\****************/
 .users__container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 16px;
 }

 .user__redirect {
  text-decoration: none;
  color: inherit;
 }

 .user {
  display: flex;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  column-gap: 20px;
 }

 .user__img {
  width: 200px;
  height: 140px;
  border-radius: 10px;
 }

 .user__detail {
  border: 3px solid #000;
  width: 100%;
  padding: 0 16px;
 }

 .user__title {
  font-size: 30px;
 }

 .user__number {
  text-align: end;
 }
